*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;8j

    1
}
html,body{
    width: 100%;
    height: 100%;
}
#topbar { 
    
    width: 100%;
    margin:0px;
    background-color: red;
    height: 48px;
    margin-top: -10px;
}
#logo{
  background-image: url(https://tse4.mm.bing.net/th?id=OIP.BB8N-7oXz3kv3aPq2oUsAgHaHa&pid=Api&P=0&w=150&h=150);
  height: 20%;
  width: 200px;
  
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -70px;
}
.topbar-seaction{
    float: left;
    border-left: 10px #cccccc solid;
    height: 100%;
}
#signin_image{
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.L6pOKHE9yWIxDp8AR_8Y4wHaHa&pid=Api&P=0&w=173&h=173);
    height: 20%;
    width: 200Px;
    margin-left: 500px;
}  